html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.main {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.lines {
  float: left;
  overflow: hidden;
  text-align: right;
}
.lines div {
  padding-right: 5px;
  color: gray;
}
.linedtextarea {
  flex: 1 1 auto;
}
#code {
  width: 100%;
  height: 100%;
  padding: 0;
  float: right;
  border: none;
  outline: none;
  resize: none;
}
#code, #output, .lines {
  font-family: "Courier New", Courier, monospace;
  font-size: 11pt;
}
.h-divider {
  width: 100%;
  height: 1px;
  background: lightgray;
}
.footer {
  width: 100%;
  height: 250px;
  margin: 0;
  padding: 8px;
}